@font-face { 
    font-family: customfont;
  src: url(Heart\ Breaking\ Bad.otf);
}

*
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#accueil {
  float: right;
  width: 30%;
}
#accueil2 {
  float: left;
  width: 60%;
  padding-right: 5%;
}
html {
  height: 100%;
}
body {
  display: table;
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 15%;
  height: 100%;
  width: 100%;
}

header, footer {
  
  background-color: #222;
  color: white;
  padding: 1em;
  text-align: center;
}
h1 {
  font-family: customfont;
  color: green;
  font-size: 4em;
}
footer {
display: table-row;
position: absolute;
bottom: 0;
left: 0;
right: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 1em;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

img {
  max-width: 100%;
  height: 100%;
  margin-bottom: 1em;
}


/* MEDIA QUERIES */


@media (max-width: 600px) 
{
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 0.5em 0;
  }

body {
  padding-bottom: 15em;
}
  header, footer {
    text-align: center;
  }

  h1 {
      font-size: 2em;
  }
    #accueil {
    float: none;
    column-count: 1;
    column-rule: 1px solid lightblue;
    width: 100%;
}
    #accueil2 {
    float: none;
    column-count: 1;
    column-rule: 1px solid lightblue;
    width: 100%;
    padding-bottom: 10em;
}
}

/* page saison */
.imgsaison{
max-width: 400px;
max-height: 200px;
float:right;
padding-left: 10px;
vertical-align: top;
}
.divsaison{
  display: flex;

}




/* Moyens écrans (tablettes) - entre 601px et 1024px */
@media (min-width: 601px) and (max-width: 824px) 
{
  nav ul {
    display: flex;
    justify-content: space-around;
  }

    #accueil {
    float: none;
    column-count: 1;
    column-rule: 1px solid lightblue;
    width: 100%;
}

    #accueil2 {
    float: none;
    column-count: 1;
    column-rule: 1px solid lightblue;
    width: 100%;
}
  nav li {
    margin: 0.5em;
  }
  


}



