.accueil {
  float: right;
  width: 30%;
}
html {
  height: 100%;
}
body {
  display: table;
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 15%;
  height: 100%;
  width: 100%;
}

header, footer {
  
  background-color: #222;
  color: white;
  padding: 1em;
  text-align: center;
}

footer {
display: table-row;
position: absolute;
bottom: 0;
left: 0;
right: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 1em;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

img {
  max-width: 100%;
  height: 100%;
  margin-bottom: 1em;
}


/* MEDIA QUERIES */


@media (max-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 0.5em 0;
  }

  header, footer {
    text-align: center;
  }

p
{
    column-count: 2;
    column-rule: 1px solid lightblue;
};



  form input, form textarea {
    width: 100%;
  }
}

/* Moyens écrans (tablettes) - entre 601px et 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav li {
    margin: 0.5em;
  }

  form input, form textarea {
    width: 100%;
  }
}

/* Grands écrans (ordinateurs de bureau) - 1025px et + */
@media (min-width: 1025px) {
  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  form input, form textarea {
    width: 60%;
  }
}